
<div class="container">
  <h1>{{title}}</h1>

  <div *ngIf="selectedMovie.Name" >
    <h2>Movie:   <mark> {{selectedMovie.Name}}</mark> </h2>
    <video id="videoPlayer" width="720" height="240" controls>
      <source [src]="selectedMovie.Path+ '\\'+selectedMovie.Name" type="video/{{selectedMovie.Format}}" />
    </video>
  </div>


  <table class="table table-bordered table-striped table-hover" *ngIf="moviesList">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Movie Name</th>
        <th>Movie Path</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of moviesList">
        <td>{{movie.id}}</td>
        <td>{{movie.name}}</td>
        <td>{{movie.path}}</td>
        <td><button type="button" class="btn" (click)="getMovie(movie)">Play</button></td>
      </tr>
    </tbody>
  </table>




</div>


