
<div class="container">

  <div *ngIf="selectedMovie.Name">

    <h3>Enjoy : <mark> {{selectedMovie.Name}}</mark>  !!</h3>
    <video id="videoPlayer" [src]="selectedMovie.MoviePath" width="560" height="240" controls></video>
    <!-- <img  [src]="(selectedMovie.Path+ '\\'+selectedMovie.Name)"  alt="Italian Trulli">-->

  </div>


  <table class="table table-bordered table-striped table-hover" *ngIf="moviesList">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Movie Name</th>
        <th>MovieDirectory</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of moviesList; let i=index;">
        <td>{{i+1}}</td>
        <td>{{movie.name}}</td>
        <td>{{movie.movieDirectory}}</td> 
        <td><button type="button" class="btn" (click)="getMovie(movie)">Play</button></td>
      </tr>
    </tbody>
  </table>




</div>


