
<div class="container">
  <h3>{{title}}</h3>
  <table class="table table-bordered table-striped table-hover" *ngIf="moviesList">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Movie Name</th>
        <th>Movie Path</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of moviesList">
        <td>{{movie.movieId}}</td>
        <td>{{movie.movieName}}</td>
        <td>{{movie.moviePath}}</td>
        <td><button type="button" class="btn" routerLink="">Play</button></td>
      </tr>
    </tbody>
  </table>
</div>


