
<div class="container">

  <div *ngIf="selectedMovie.Name">
   
    <h3>Enjoy : <mark> {{selectedMovie.Name}}</mark>  !!</h3>
    <video id="videoPlayer" [src]="selectedMovie.MoviePath" width="560" height="240" controls>
      <!-- <source [src]="(selectedMovie.Path+ '\\'+selectedMovie.Name)" type="video/{{selectedMovie.Format}}" />-->
      <!-- <source src="../../assets/VID-20161129-WA0007.mp4" type="video/mp4" />-->
    </video>
    <!-- <img  [src]="(selectedMovie.Path+ '\\'+selectedMovie.Name)"  alt="Italian Trulli">-->

  </div>


  <table class="table table-bordered table-striped table-hover" *ngIf="moviesList">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Movie Name</th>
        <th>Language</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of moviesList">
        <td>{{movie.id}}</td>
        <td>{{movie.name}}</td>
        <td>{{movie.language}}</td>
        <!--<!--<td>{{movie.path}}</td>-->
        <td><button type="button" class="btn" (click)="getMovie(movie)">Play</button></td>
      </tr>
    </tbody>
  </table>




</div>


