
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/movies" routerLinkActive="active ">Movies</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/series" routerLinkActive="active ">Series</a>
  </li>
</ul>
<!--<ul class="nav nav-tabs">
  <li class="nav-item"> <a class="nav-link">Home </a></li>
  <li class="nav-item"><a class="nav-link active" [routerLink]="/movies">Movies </a></li>
  <li class="nav-item"><a class="nav-link" href="#">Series </a></li>
  <li class="nav-item"><a class="nav-link" href="#">Menu 3 </a></li>
</ul>-->


<router-outlet></router-outlet>


